.timeline-Widget{
	background-color: black;
	color: white;
}
    
.twitter{
	background-color: black;
	color: white;
	width: 500px !important;
	padding: 0 0 0 0 !important;
}

#twitter-widget-0{
	width: 500px !important;
}

#grad1{
	margin: auto;
	width: 35%;
	height: 4px;
	background: linear-gradient(to right, black, #752f8a, #752f8a, #009bde, #6BCABA, black);
}


